*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Clear FIX */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


.container-header, 
.container-main{
    width: 70%;
    margin: 0 auto;
}

header > h1 , p{
    text-align: center;
    margin-bottom: 2.5rem;
}

h1{
    color: rgb(212, 31, 61);
    font-family: 'Fredoka', sans-serif;
    margin-top: 2rem;
}

/* Parte main */


.float-left{
    height: 6rem;
    float: left;
    padding-right: 1rem;
}

.container-info{
    float: left;
    height: 6rem;
    background-color: black;
    color: white;
    width: calc((100% / 3) - 1.3rem);
    margin-right: 1.3rem;
    margin-bottom: 1.3rem;
}

h2{
    font-family: 'Fredoka', sans-serif;
    margin-top: .3rem;
}

span{
    margin-top: .5rem;
    display: block;
}

section span:last-child{
    color: rgb(36, 157, 212);
}