*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body{
    font-family: 'Fredoka', sans-serif;

}

/* .container{
    width: 70%;
    margin: 0 auto;
    
} */

.container-header, 
.container-main{
    width: 70%;
    margin: 0 auto;
}

header > h1{
    color: rgb(212, 23, 149);
    text-align: center;
    margin-bottom: 2.5rem;
}

.container-section-text{
    margin-bottom: 2.5rem;
}